@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:aliceblue;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color:lightcoral;

}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 50px;
    height: 50px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    font-family: 'Varela Round', sans-serif;
    min-height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
}
.container h2{
    margin-left: 710px;
}
.songitemcontainer{
    margin-left: 600px;
}
.songItem{
    color: black;
    height: 50px;
    display: flex;
    background-color:darksalmon;
    margin: 12px;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 43px;
}
.songItem i{
    cursor: pointer;
}
.timestamp{
    margin: 0 20px;
}    
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.icons{
    margin-bottom: 10px;
}
.icons i{
    cursor: pointer;
}
.songInfo{
    position:absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}